.list-group-item {
    transition: all 0.2s !important;
    // border-radius: 5px;
    padding: 20px 20px 20px 25px;
}
.list-group-item:hover {
    .imgHover {
        transition: all 0.2s;
        opacity: 1 !important;
    }
}
