header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  height: 70px;
  z-index: 999999;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.2s;
}
header:hover {
  background-color: white;
}
.logo img {
  width: 60px;
}
.header__menu ul {
  list-style: none;
}
.movie__item p {
  font-size: 17px;
}
.header__menu ul li {
  display: inline;
  margin: 0 10px;
}
.header__menu ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 500;
}
.header__menu ul li a:hover {
  color: #fb4226;
}

.signin {
  display: flex;
  position: relative;
  align-items: center;
  text-decoration: none;
  color: #9b9b9b;
  margin: 0;
  padding: 20px 0;
  font-size: 14px;
  img {
    height: auto;
    width: 30px;
    border-radius: 25px;
    margin-right: 5px;
  }
  .moveVeDaDatLink {
    text-decoration: none;
    color: black;
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  transform: translateY(75%);
  background-color: #d9d8d8;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  border-radius: 5px;
  font-size: 14px;
  color: black;
  z-index: 1;
  padding: 0;
  .li__item {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: rgb(114, 113, 113);
    }
  }
}
.logged:hover .dropdown-content {
  display: block;
}
.signin:hover {
  color: #9b9b9b;
  text-decoration: none;
}
.signin i {
  font-size: 30px;
  margin-right: 10px;
}

// .header__change {
//   position: fixed;
//   width: 100%;
//   top: 0;
//   background-color: rgba($color: #ffffff, $alpha: 0.5);
//   transition: all 1s;
//   animation: stickyHeader 1s;
// }
// @keyframes stickyHeader {
//   from {
//     top: -60px;
//     opacity: 0;
//   }
//   to {
//     top: 0px;
//     opacity: 1;
//   }
// }
