.movie__item {
  .movie__infor {
    margin-bottom: 15px;
    .image__movie {
      margin-right: 15px;
      height: 80px;
      width: 55px;
    }
  }
  padding: 20px 0;
  border-bottom: 1px solid #ebebec;
}

.listSuatChieuPhim {
  display: flex;
  row-gap: 15px;
  flex-wrap: wrap;
  .btn__datVe {
    outline: none;
    background-color: rgba(216, 216, 216, 0.568);
    margin-right: 15px;
    &:hover {
      color: #f79400;
    }
  }
}
